<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NKAP | @ViewBag.Title </title>
   
    @*<link href="~/Resources/base/css/bootstrap.min.united.css" rel="stylesheet" />*@
    <link href="~/Resources/base/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Resources/base/font-wesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Resources/base/css/style.css" rel="stylesheet" />
    <link href="~/Resources/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Resources/css/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <header class="main header">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            NKAP  <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/"> <span class="fa fa-home"></span></a></li>
                                <li><a href="@Url.Action("NewUser", "Users")">Usuarios  <i class="fa fa-user-secret" ></i></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumnos <i class="fa fa-users" ></i><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Crear alumno</a></li>
                                        <li><a href="#">Listado</a></li>
                                 
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profesores <i class="fa fa-suitcase"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Crear profesor</a></li>
                                        <li><a href="#">Listado</a></li>
                              
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias y cursos <i class="fa fa-book" ></i><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Crear curso</a></li>
                                        <li><a href="#">Listado</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("Inicio","Categoria")">Categorias </a></li>
                                        @*<li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                            @*<form class="navbar-form navbar-left">

                                <div class="input-group">
                                    <input type="text" size="40" class="form-control" placeholder="Ingrese aqui su busqueda...">
                                    <span class="input-group-btn">
                                        <button title="Buscar" class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>

                            </form>*@
                            <ul class="nav navbar-nav navbar-right">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                        <strong>Franco</strong>   <span class="caret"></span><img style="margin-top:-2px;margin-right:5px" class="img-responsive img-circle img-sm" src="~/@(Common.Parameters.UploadPathUsersGeneral+""+Common.Parameters.Nopictureuser)" alt="User pic" />

                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a href="#">Panel</a></li>
                                        <li><a href="#">Perfil</a></li>
                                        <li><a href="#">Cambiar Contraseña</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("Logout","Account")">Cerrar Sesion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>

        </header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="remove-margin-bottom">
                            &copy; @DateTime.Now.Year - <b>NKAP Managers</b> V 1.0 powered by <a href="http://facebook.com/gsoftg" target="_blank">GSoft</a>
                            <span class="slogan">Buscamos ser la primera plataforma lider en español de enseñanza online.</span>
                            @*<span class="slogan">Material desarrollado para el Curso de <b>ASP.NET MVC 5 + VueJS</b> hecho por*@
                             <a href="http://facebook.com/gsoftg" target="_blank">GSoft</a> 
                            y <a href="mailto:gfrancogcit@gmail.com"></a>.</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 links">
                        <i class="fa fa-link"></i>
                        <a href="#">¿Quiénes somos?</a> -
                        <a href="#">FAQ</a> -
                        <a href="#">Conviértete en instructor</a> -
                        <a href="#">Casos de éxito</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/Resources/js/jquery-1.10.2.min.js"></script>
    <script src="~/Resources/js/bootstrap.min.js"></script>
    <script src="~/Resources/js/jquery.validate.js"></script>
    <script src="~/Resources/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Resources/js/jquery.form.js"></script>
    <script src="~/Resources/js/toastr.min.js"></script>
    <script src="~/Resources/js/ini.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
